<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="Echo" type="Echo.Configuration.EchoSection, Echo" />
	</configSections>

	<Echo>
		<Versions>
			<Version Name="7.18 Age of Chaos"
			         ClientHash="eb5db23ddd064e2a207c4618f971bddc"
			         VersionValue="718"
			         VersionAddress="772288"
			         CharacterNameAddress="75F6E0" />
			<Version Name="7.41"
			         ClientHash="7e6fc4240930a0732ec61f0d63290764"
			         VersionValue="741"
			         VersionAddress="7505B8"
			         CharacterNameAddress="73D910"
			         SkipIntroAddress="42E625" />
		</Versions>
	</Echo>
</configuration>